@model List<View_Danhsach>
<head>
    <style>
        .dropbtn {
            background-color: #4CAF50;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content a:hover {
                    background-color: #f1f1f1
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: #3e8e41;
        }
    </style>
</head>
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Danh sách</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Danh sách</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Danh sách sinh viên</h5>
                        <!-- Table with stripped rows -->
                        <table class="table datatable" id="example">
                            <thead>
                                <tr>
                                    @*<th>STT</th>*@
                                    <th>Mã SV</th>
                                    <th>Tên SV</th>
                                    <th>Ngành</th>
                                    <th>CTDT</th>
                                    <th>Chuẩn đầu ra</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        @*<td>1</td>*@
                                        <td>@item.SV_ID</td>
                                        <td>@item.SV_Ten</td>
                                        <td>@item.NGANH_Ten</td>
                                        <td>@item.CTDT_Ten</td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-danger dropdown-toggle"
                                                        data-bs-toggle="dropdown" aria-expanded="false">
                                                    Chọn loại phiếu
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" asp-controller="PhieudanhgiaDN" asp-route-MH_ID="@item.MH_ID" asp-route-SV_ID="@item.SV_ID">Doanh nghiệp</a></li>
                                                    <li><a class="dropdown-item" asp-controller="PhieudanhgiaDN" asp-route-MH_ID="@item.MH_ID" asp-route-SV_ID="@item.SV_ID">Hội đồng</a></li>
                                                </ul>
                                            </div>
                                            
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <!-- End Table with stripped rows -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->